.pure-button {
  background-color: #ccc;
  margin-right: 16px;
  &.mr0 {
    margin-right: 0;
  }
  &.ma0 {
    margin: 0;
  }
}
.pure-button-primary {
  background-color: rgb(0, 120, 231);
}

.button-xsmall {
  font-size: 70%;
}

.button-small {
  font-size: 85%;
}

.button-large {
  font-size: 110%;
}

.button-xlarge {
  font-size: 125%;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
  background: rgb(28, 184, 65);
}

.button-error {
  background: rgb(202, 60, 60);
}

.button-warning {
  background: rgb(223, 117, 20);
}

.button-secondary {
  background: var(--color-secondary);
  /* this is a light blue */
}

.button-minimal {
  background: none;
  color: #ccc;
  border: 1px solid #666;
}

.button-active {
  font-weight: bold;
  background-color: #ffc;
}
