.cc-lite-key {
  display: inline-block;
  width: 6.67%;
  height: 75px;
  line-height: 75px;
  text-align: center;
  border: 1px solid white;

  cursor: pointer;
  &:hover {
    background-color: rgba(255, 255, 255, 0.15);
  }
}
