.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to { visibility: hidden; }
}

////////////////////////////////////////////////////////////////////////////////

.react-tiny-popover-container {
  background-color: white;
  color: #333;
  border-radius: 4px;
  padding: 4px;

  // prevent first frame flicker
  transform: translate(-9999px, -9999px);
}

.keycode-codes {
  &__info {
    background-color: #ddd;
    height: 48px;
    border-radius: 4px;
  }

  &__codes {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    border-collapse: collapse;

    td {
      text-align: center;
      border: 1px solid #aaa;
      cursor: pointer;
      padding: 4px;

      &.small {
        font-size: 14px;
      }

      &:hover {
        background-color: #d5ffff;
        font-weight: 700;
      }
    }
  }
}
