@use "sass:math";

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to { visibility: hidden; }
}

////////////////////////////////////////////////////////////////////////////////

input[type="number"] {
  appearance: none;
  background-color: #ccc;
  width: 64px;
  height: 24px;
  border: none;
  outline: none;
}

////////////////////////////////////////////////////////////////////////////////

.menu-button {
  left: 50%;
  transform: translate(-50%, 0%);
  position: absolute;
  width: 24px;
  cursor: pointer;
  margin-top: 8px;
  margin-bottom: 8px;
}

.menu-button:before,
.menu-button:after,
.menu-button div {
  background: #fff;
  content: "";
  display: block;
  height: 2px;
  border-radius: 3px;
  margin: 4px 0;
  transition: 0.5s;
}
.menu-button:hover:before {
  transform: translateY(12px) rotate(-135deg);
}
.menu-button:hover:after {
  transform: translateY(12px) rotate(135deg);
}
.menu-button:hover div {
  transform: scale(0);
}

////////////////////////////////////////////////////////////////////////////////

.modal {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  &__content {
    position: absolute;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    height: 480px;
    width: 480px * math.div(16, 9);

    border-radius: 8px;
    background-color: #ccc;
    color: #333;

    padding: 16px;
    font-family: monospace;
    font-size: 20px;
  }
}

////////////////////////////////////////////////////////////////////////////////

.card {
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;

  background-color: #333;
  padding: 16px;
  margin: 16px;
  line-height: 1.5;
  width: 300px;
  max-width: 300px;

  &--li {
    padding-left: 0;
  }
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

////////////////////////////////////////////////////////////////////////////////

.react-tiny-popover-container {
  background-color: white;
  color: #333;
  border-radius: 4px;
  padding: 4px;

  // prevent first frame flicker
  transform: translate(-9999px, -9999px);
}

.action-chooser-popover {
  &__info {
    background-color: #ddd;
    height: 48px;
    border-radius: 4px;
    max-width: 600px;
  }

  &__codes {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    border-collapse: collapse;

    td {
      text-align: center;
      border: 1px solid #aaa;
      cursor: pointer;
      padding: 4px;

      &.small {
        font-size: 14px;
      }

      &:hover {
        background-color: #d5ffff;
        font-weight: 700;
      }
    }
  }
}

.cc1-cell-mw {
  max-width: 150px;
}

$action-font-size: 15px;
table.cc1 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  line-height: 1.0;

  td {
    padding-left: 0px;
    padding-right: 1px;
    margin: 0;
  }

  .action-chooser {
    $action-width: 44px;

    vertical-align: top;
    white-space: nowrap; 
    font-family: monospace;
    font-size: $action-font-size;
    margin-bottom: 4px;

    & > * {
      vertical-align: top;
    }

    &__layer {
      display: inline-block;
      width: 12px;
      color: gray;
      background-color: black;
      text-align: center;
      overflow: hidden;
    }
    &__action {
      display: inline-block;
      width: $action-width;
      height: $action-font-size;
      overflow: hidden;
      background-color: #333;
      cursor: pointer;
      position: relative;
      & > * {
        min-width: $action-width;
        height: $action-font-size;
        text-align: center;
        position: absolute;
        top: 0;
        right: 0;
      }

      &:hover {
        background-color: #ccc;
        color: #333;
      }
    }
  }

  $clean-width: 54px;

  &.cc1--clean {
    border-spacing: 4px;
    td {
      padding: 0;
    }
  }

  table.cc1-stick--clean {
    position: relative;
    border-spacing: 4px;
    td {
      width: $clean-width;
      height: $clean-width;
      margin: 0;
      padding: 0;
    }
    &::before {
      content: " ";
      position: absolute;
      $ring-margin: 16px;
      left: $ring-margin;
      right: $ring-margin;
      top: $ring-margin;
      bottom: $ring-margin;
      background-color: #555;
      border-radius: 50%;
    }
  }

  table.cc1-stick--clean.cc1-stick--dark {
    background-color: #222;
    &::before {
      background-color: #000;
    }
  }


  .action-chooser--clean {
    $action-width: $clean-width;
    $action-height: $action-width;
    margin: 0;

    .action-chooser__action {
      width: $action-width;
      height: $action-height;
      display: flex;
      align-items: center;

      &--down {
        background-color: #111;
      }

      & > * {
        white-space: normal;
        word-break: break-all; 
        min-width: $action-width;
        width: $action-width;
        height: auto;
        position: static;
      }
    }
  }

}
////////////////////////////////////////////////////////////////////////////////
$chord-chunk-size: 48px;
.chord-chunks {
  display: inline-block;
  border: 1px solid #aaa;
  font-size: 32px;
  line-height: $chord-chunk-size;
  height: $chord-chunk-size;
  &__chunk {
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    width: $chord-chunk-size;
    height: $chord-chunk-size;
  }
  &__chunk:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
