@use "./thirdparty/pure.css";
@use "./thirdparty/tachyons.css";

@use "./components";
@use "./buttons";

@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

$root: #charachorder-config;
$left-nav-width: 250px;
$left-nav-width-collapsed: 36px;
$tab-height: 32px;
$log-height: 100px;

html, body, #{$root} {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Readex Pro', sans-serif;
  font-weight: 400;
  background: #222;
  color: #ccc;
}

h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
}

a, a:visited {
  color: #88f;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  padding-left: $left-nav-width;
  position: relative;
}

ol, ul {
  list-style-position: outside;
}

#nav {
  margin-left: -$left-nav-width;
  width: $left-nav-width;
  height: 100%;
  background-color: #000;
  position: fixed;
}

#main {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  width: calc(100% - #{$left-nav-width});
}

#root.nav-collapsed {
  padding-left: $left-nav-width-collapsed;
  #nav {
    margin-left: -$left-nav-width-collapsed;
    width: $left-nav-width-collapsed;
  }
  #main {
    width: calc(100% - #{$left-nav-width-collapsed});
  }
}

#tab-menu {
  display: flex;
  align-items: center;
  height: $tab-height;
  padding-left: 16px;
  background-color: #555;
  position: relative;
  .device-string {
    font-size: 14px;
  }
  .pure-button {
    min-width: 100px;
  }
  & > * {
    margin-right: 16px;
  }
}

#viewport {
  width: 100%;
  height: calc(100% - #{$tab-height});
  overflow: auto;

  & > * {
    vertical-align: top;
  }
}

.log {
  display: inline-block;
  background-color: #888;
  color: #000;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.0;

  height: $log-height;
  overflow-anchor: none;

  padding: 5px;
  padding-right: 0;

  & > * {
    overflow-anchor: none;
  }
  p {
    margin: 0;
    white-space: nowrap;
    .time {
      font-size: 12px;
    }
  }
  .stdin {
    color: #800;
  }
  .stdout {
    color: #040;
  }
}

.api-log {
  width: 30%;
  border-radius: 4px;
}

.serial-log {
  font-size: 14px;
  width: 70%;
  border-radius: 4px;
}
