{:paths ["src/main" "src/gen"]
 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://clojars.org/repo"}}
 :deps {;; clojure
        org.clojure/clojurescript {:mvn/version "1.11.60"}
        org.clojure/spec.alpha {:mvn/version "0.3.218"}
        org.clojure/core.cache {:mvn/version "1.0.225"}
        org.clojure/core.match {:mvn/version "1.0.1"}
        org.clojure/math.combinatorics {:mvn/version "0.2.0"}
        org.clojure/core.rrb-vector {:mvn/version "0.1.2"}
        com.cognitect/transit-cljs {:mvn/version "0.8.280"}

        ;; swiss army
        binaryage/oops {:mvn/version "0.7.2"}
        com.rpl/specter {:mvn/version "1.1.4"}

        ;; util
        codox/codox {:mvn/version "0.10.8"}
        binaryage/devtools {:mvn/version "1.0.6"}
        fipp/fipp {:mvn/version "0.6.26"}
        com.taoensso/timbre {:mvn/version "6.1.0"}
        org.slf4j/slf4j-simple {:mvn/version "2.0.7"}
        com.taoensso/tufte {:mvn/version "2.4.5"}
        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
        funcool/promesa {:mvn/version "10.0.594"}
        org.clojars.mmb90/cljs-cache {:mvn/version "0.1.4"}
        testdouble/clojurescript.csv {:mvn/version "0.8.0"}

        ;; spec + testing
        metosin/spec-tools {:mvn/version "0.10.5"}
        orchestra/orchestra {:mvn/version "2021.01.01-1"}
        expound/expound {:mvn/version "0.9.0"}

        ;; frontend
        hiccup/hiccup {:mvn/version "2.0.0-alpha2"}
        reagent/reagent {:mvn/version "1.2.0"}

        ;; DB
        datascript/datascript {:mvn/version "1.4.2"}
        denistakeda/posh {:mvn/version "0.5.9"}

        ;; communication to backend
        cljs-http/cljs-http {:mvn/version "0.1.46"}
        cljs-ajax/cljs-ajax {:mvn/version "0.8.4"}

        ;; REPL and dev
        cljfmt/cljfmt {:mvn/version "0.9.2"}}

 :aliases
 {:charachorder-config {:extra-deps {thheller/shadow-cljs {:mvn/version "2.22.9"}}}
  :local-development {:jvm-opts ["-XX:+UseZGC"]}
  :outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
             :main-opts ["-m" "antq.core"]}}}
